Repository mortenkrane/dokken: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-fix, mdformat, typecheck

format:
  name: make format
  entry: make format
  language: system
  pass_filenames: false

lint-fix:
  name: make lint-fix
  entry: make lint-fix
  language: system
  pass_filenames: false

mdformat:
  name: make mdformat
  entry: make mdformat
  language: system
  pass_filenames: false

typecheck:
  name: make typecheck
  entry: make typecheck
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat: add TypedDict for config type safety (#69)
  docs/future-improvements.md
  src/config/loader.py
  src/config/merger.py
  src/config/types.py
Due: format, lint-fix, mdformat, typecheck

refactor: move DocumentationContext to records.py
  docs/future-improvements.md
  src/records.py
  src/workflows.py
Due: format, lint-fix, mdformat, typecheck

refactor: move DocumentationContext to records.py (#70)
  docs/future-improvements.md
  src/records.py
  src/workflows.py
Due: format, lint-fix, mdformat, typecheck

refactor: centralize error messages and constants
  docs/future-improvements.md
  src/cache.py
  src/constants.py
  src/file_utils.py
  src/llm.py
  src/workflows.py
Due: format, lint-fix, mdformat, typecheck

refactor: centralize error messages and constants (#71)
  docs/future-improvements.md
  src/cache.py
  src/constants.py
  src/file_utils.py
  src/llm.py
  src/workflows.py
Due: format, lint-fix, mdformat, typecheck

refactor: replace NO_DOC_MARKER with Optional pattern
  docs/future-improvements.md
  src/cache.py
  src/constants.py
  src/llm.py
  src/workflows.py
  tests/test_llm.py
Due: format, lint-fix, mdformat, typecheck

refactor: replace NO_DOC_MARKER with Optional pattern (#72)
  docs/future-improvements.md
  src/cache.py
  src/constants.py
  src/llm.py
  src/workflows.py
  tests/test_llm.py
Due: format, lint-fix, mdformat, typecheck

Update future-improvements.md
  docs/future-improvements.md
Due: mdformat

feat: parallelize file reading in code analyzer
  docs/future-improvements.md
  src/code_analyzer.py
Due: format, lint-fix, mdformat, typecheck

feat: parallelize file reading in code analyzer (#73)
  docs/future-improvements.md
  src/code_analyzer.py
Due: format, lint-fix, mdformat, typecheck

docs: revise README for accuracy and completeness
  README.md
Due: mdformat

docs: remove file structure section and specific line references
  README.md
Due: mdformat

docs: revise README for accuracy and completeness (#74)
  README.md
Due: mdformat

docs: comprehensive review and update of future-improvements.md
  docs/future-improvements.md
Due: mdformat

docs: remove completed items section from future-improvements.md
  docs/future-improvements.md
Due: mdformat

feat: add persistent JSON-based cache for drift detection
  .gitignore
  README.md
  src/cache.py
  src/config/loader.py
  src/config/models.py
  src/config/types.py
  src/constants.py
  src/main.py
  tests/test_cache.py
  tests/test_config.py
  tests/test_main.py
Due: format, lint-fix, mdformat, typecheck

refactor: address PR review comments
  src/main.py
  tests/test_cache.py
Due: format, lint-fix, typecheck

docs: run mdformat on future-improvements.md
  docs/future-improvements.md
Due: mdformat

docs: review code base (#76)
  docs/future-improvements.md
Due: mdformat

fix: implement cache configuration and improve error handling
  src/cache.py
  src/main.py
  tests/test_cache.py
  tests/test_llm.py
Due: format, lint-fix, typecheck

test: improve coverage to 99.33% for cache and main
  tests/test_cache.py
  tests/test_main.py
Due: format, lint-fix, typecheck

refactor: eliminate global variable with DriftCacheStore class
  src/cache.py
Due: format, lint-fix, typecheck

feat: Persistent drift cache (#78)
  .gitignore
  README.md
  src/cache.py
  src/config/loader.py
  src/config/models.py
  src/config/types.py
  src/constants.py
  src/main.py
  tests/test_cache.py
  tests/test_config.py
  tests/test_llm.py
  tests/test_main.py
Due: format, lint-fix, mdformat, typecheck

Refine prompts
  src/prompts.py
Due: format, lint-fix, typecheck

Conserve existing docs when fixing drift
  src/doc_merger.py
  src/llm.py
  src/prompts.py
  src/records.py
  src/workflows.py
  tests/test_doc_merger.py
  tests/test_workflows.py
Due: format, lint-fix, typecheck

Simplify
  src/doc_merger.py
Due: format, lint-fix, typecheck

Conserve existing docs when fixing drift (#79)
  src/doc_merger.py
  src/llm.py
  src/prompts.py
  src/records.py
  src/workflows.py
  tests/test_doc_merger.py
  tests/test_workflows.py
Due: format, lint-fix, typecheck

Whitespace fixes
  src/doc_merger.py
  tests/test_doc_merger.py
Due: format, lint-fix, typecheck

Fix prompt to avoid duplication when fixing drift
  src/prompts.py
Due: format, lint-fix, typecheck

Long lines
  src/prompts.py
  tests/test_doc_merger.py
Due: format, lint-fix, typecheck

Fix drift fix doc merger, preventing duplication (#80)
  src/doc_merger.py
  src/prompts.py
  tests/test_doc_merger.py
Due: format, lint-fix, typecheck

feat: enhance drift detection stability with conservative bias
  src/prompts.py
  tests/test_llm.py
Due: format, lint-fix, typecheck

refine: add concrete examples and strengthen conservative bias
  src/prompts.py
Due: format, lint-fix, typecheck

docs: add code review agent specification
  .claude/code-review-agent.md
Due: mdformat

feat: add code review slash command and subagent
  .claude/README.md
  .claude/agents/code-review.json
  .claude/commands/review.md
Due: mdformat

feat: stabilize doc drift detection (#82)
  src/prompts.py
  tests/test_llm.py
Due: format, lint-fix, typecheck

docs: enhance code review agent documentation and add tests
  .claude/README.md
  .claude/code-review-agent.md
  tests/test_claude_config.py
Due: format, lint-fix, mdformat, typecheck

style: apply ruff formatting to test file
  tests/test_claude_config.py
Due: format, lint-fix, typecheck

Path conditions:
  format: any of: \.py$
  lint-fix: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$
  typecheck: any of: \.py$
