Repository mortenkrane/dokken: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-fix, mdformat, typecheck

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: format
        name: make format
        entry: make format
        language: system
        types: [python]
        pass_filenames: false

      - id: lint-fix
        name: make lint-fix
        entry: make lint-fix
        language: system
        types: [python]
        pass_filenames: false

      - id: mdformat
        name: make mdformat
        entry: make mdformat
        language: system
        types: [markdown]
        pass_filenames: false

      - id: typecheck
        name: make typecheck
        entry: make typecheck
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

      - id: test
        name: make test
        entry: make test
        language: system
        pass_filenames: false
        stages: [pre-push]
        always_run: true

style: apply ruff formatting to test_records.py
  tests/test_records.py
Due: format, lint-fix, typecheck

refactor: implement Phase 3 test simplification - reduce implementation coupling (#120)
  docs/test-simplification-roadmap.md
  tests/test_doc_merger.py
  tests/test_llm.py
  tests/test_records.py
  tests/test_workflows.py
Due: format, lint-fix, mdformat, typecheck

Delete test-simplification-roadmap.md
  docs/test-simplification-roadmap.md
Due: mdformat

Fix circular import
  src/llm/llm.py
  src/llm/prompt_builder.py
Due: format, lint-fix, typecheck

Fix error test
  src/file_utils.py
Due: format, lint-fix, typecheck

Fix circular import (#124)
  src/file_utils.py
  src/llm/llm.py
  src/llm/prompt_builder.py
Due: format, lint-fix, typecheck

feat: improve questionnaire UX with preview and better layout
  README.md
  src/input/human_in_the_loop.py
  tests/test_human_in_the_loop.py
Due: format, lint-fix, mdformat, typecheck

docs: write documentation in timeless manner
  CLAUDE.md
  README.md
Due: mdformat

feat: improve questionnaire UX with preview and better layout (#126)
  CLAUDE.md
  README.md
  src/input/human_in_the_loop.py
  tests/test_human_in_the_loop.py
Due: format, lint-fix, mdformat, typecheck

feat: display generation plan with step progress indicators
  src/workflows.py
Due: format, lint-fix, typecheck

feat: display generation plan with step progress indicators (#127)
  src/workflows.py
Due: format, lint-fix, typecheck

feat: add answer review and editing to questionnaire
  src/input/human_in_the_loop.py
  tests/test_human_in_the_loop.py
Due: format, lint-fix, typecheck

test: improve coverage for questionnaire editing features
  tests/test_human_in_the_loop.py
Due: format, lint-fix, typecheck

feat: add answer review and editing to questionnaire (#128)
  src/input/human_in_the_loop.py
  tests/test_human_in_the_loop.py
Due: format, lint-fix, typecheck

feat: enable PyPI publishing workflow
  .github/workflows/publish-pypi.yml
Due: none

feat: enable PyPI publishing workflow (#129)
  .github/workflows/publish-pypi.yml
Due: none

feat: configure PyPI workflow to use GitHub environment
  .github/workflows/publish-pypi.yml
Due: none

feat: configure PyPI workflow to use GitHub environment (#130)
  .github/workflows/publish-pypi.yml
Due: none

fix: exclude CHANGELOG.md from mdformat checks in CI
  .github/workflows/ci.yml
Due: none

fix: update mdformat commands to exclude CHANGELOG.md
  .claude/code-review-agent.md
  .claude/commands/lint-test.md
  .github/workflows/ci.yml
  .mise.toml
  CLAUDE.md
  CONTRIBUTING.md
  tests/README.md
Due: mdformat

fix: explicitly list markdown files instead of shell substitution
  .claude/code-review-agent.md
  .claude/commands/lint-test.md
  .github/workflows/ci.yml
  .mise.toml
  CLAUDE.md
  CONTRIBUTING.md
  tests/README.md
Due: mdformat

fix: use 'uv run mdformat' instead of 'uvx mdformat'
  .claude/code-review-agent.md
  .claude/commands/lint-test.md
  .github/workflows/ci.yml
  .mise.toml
  CLAUDE.md
  CONTRIBUTING.md
  docs/future-improvements.md
  docs/releasing-to-pypi.md
  docs/style-guide.md
  tests/README.md
Due: mdformat

fix: exclude CHANGELOG.md from mdformat checks in CI (#131)
  .claude/code-review-agent.md
  .claude/commands/lint-test.md
  .github/workflows/ci.yml
  .mise.toml
  CLAUDE.md
  CONTRIBUTING.md
  docs/future-improvements.md
  docs/releasing-to-pypi.md
  docs/style-guide.md
  tests/README.md
Due: mdformat

fix: use GitHub App token in release-please workflow
  .github/workflows/release-please.yml
Due: none

fix: use GitHub App token in release-please workflow (#132)
  .github/workflows/release-please.yml
Due: none

feat: add dokken dogfooding setup with monthly drift checks
  .dokken.toml
  .github/workflows/dokken-drift-check.yml
  pyproject.toml
  uv.lock
Due: none

feat: set module file depth to 2 for deeper code analysis
  .dokken.toml
Due: none

fix: run mdformat on docs after dokken applies fixes
  .github/workflows/dokken-drift-check.yml
Due: none

fix: use GitHub App token for PR creation in dokken workflow
  .github/workflows/dokken-drift-check.yml
Due: none

feat: add directory exclusions to .dokken.toml (documents intent)
  .dokken.toml
Due: none

feat: add dokken dogfooding setup with monthly drift checks (#133)
  .dokken.toml
  .github/workflows/dokken-drift-check.yml
  pyproject.toml
  uv.lock
Due: none

feat: add directory exclusion support to dokken configuration
  .dokken.toml
  README.md
  examples/.dokken.toml
  src/config/models.py
  src/config/types.py
  src/input/code_analyzer.py
  tests/test_code_analyzer.py
  tests/test_config.py
Due: format, lint-fix, mdformat, typecheck

docs: refocus project messaging on drift detection over docs generation
  CLAUDE.md
  README.md
Due: mdformat

docs: add CI deployment patterns for drift detection
  README.md
Due: mdformat

docs: emphasize human intent capture as core value proposition
  README.md
Due: mdformat

docs: refocus project messaging on drift detection over docs generation (#135)
  CLAUDE.md
  README.md
Due: mdformat

docs: add architectural rules implementation plan
  docs/architectural-rules-implementation-plan.md
Due: mdformat

docs: revise arch rules plan with user-driven approach
  docs/architectural-rules-implementation-plan.md
Due: mdformat

docs: add architectural intent questionnaire to plan
  docs/architectural-rules-implementation-plan.md
Due: mdformat

docs: add architectural rules implementation plan (#136)
  docs/architectural-rules-implementation-plan.md
Due: mdformat
