Repository mortenkrane/dokken: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-fix, mdformat, typecheck

format:
  name: make format
  entry: make format
  language: system
  pass_filenames: false

lint-fix:
  name: make lint-fix
  entry: make lint-fix
  language: system
  pass_filenames: false

mdformat:
  name: make mdformat
  entry: make mdformat
  language: system
  pass_filenames: false

typecheck:
  name: make typecheck
  entry: make typecheck
  language: system
  pass_filenames: false
  stages:
  - pre-commit

refactor: use Python 3.13+ generic syntax and add documentation
  src/doc_configs.py
Due: format, lint-fix, typecheck

fix: address code review findings - add thread-safety and improve test quality
  src/llm.py
  tests/conftest.py
  tests/test_llm.py
Due: format, lint-fix, typecheck

fix: use mocker.patch instead of direct constant mutation in test
  tests/test_llm.py
Due: format, lint-fix, typecheck

chore: remove unused clear_drift_cache import
  tests/test_llm.py
Due: format, lint-fix, typecheck

refactor: move caching logic to decorator in utils.py
  src/llm.py
  src/utils.py
  tests/conftest.py
  tests/test_llm.py
Due: format, lint-fix, typecheck

refactor: move cache utility tests from test_llm.py to test_utils.py
  tests/test_llm.py
  tests/test_utils.py
Due: format, lint-fix, typecheck

feat: cache drift detection to reduce llm usage and improve performance (#55)
  src/llm.py
  src/utils.py
  tests/conftest.py
  tests/test_llm.py
  tests/test_utils.py
Due: format, lint-fix, typecheck

refactor: make DocConfig generic for full type safety
  src/doc_configs.py
  src/workflows.py
Due: format, lint-fix, typecheck

typing: improve typing of docconfig (#58)
  src/doc_configs.py
  src/workflows.py
Due: format, lint-fix, typecheck

refactor: split config module into separate concerns
  src/config.py
  src/config/__init__.py
  src/config/loader.py
  src/config/merger.py
  src/config/models.py
Due: format, lint-fix, typecheck

test: reduce mocking and increase behavior testing
  tests/test_llm.py
  tests/test_workflows.py
Due: format, lint-fix, typecheck

test: reduce mocking and increase behavior testing (#59)
  tests/test_llm.py
  tests/test_workflows.py
Due: format, lint-fix, typecheck

refactor: split config module into separate concerns (#60)
  src/config.py
  src/config/__init__.py
  src/config/loader.py
  src/config/merger.py
  src/config/models.py
Due: format, lint-fix, typecheck

Update future-improvements.md
  docs/future-improvements.md
Due: mdformat

docs: comprehensive architecture and code quality review
  docs/future-improvements.md
Due: mdformat

style: apply mdformat to future-improvements.md
  docs/future-improvements.md
Due: mdformat

docs: comprehensive architecture and code quality review (#61)
  docs/future-improvements.md
Due: mdformat

refactor: split utils.py into focused modules for SRP compliance
  docs/future-improvements.md
  src/cache.py
  src/config/loader.py
  src/file_utils.py
  src/llm.py
  src/workflows.py
  tests/conftest.py
  tests/test_cache.py
  tests/test_file_utils.py
  tests/test_llm.py
Due: format, lint-fix, mdformat, typecheck

docs: format future-improvements.md with mdformat
  docs/future-improvements.md
Due: mdformat

refactor: split utils.py into focused modules for SRP compliance (#62)
  docs/future-improvements.md
  src/cache.py
  src/config/loader.py
  src/file_utils.py
  src/llm.py
  src/workflows.py
  tests/conftest.py
  tests/test_cache.py
  tests/test_file_utils.py
  tests/test_llm.py
Due: format, lint-fix, mdformat, typecheck

refactor: extract prompt assembly logic from llm.py (#2)
  docs/future-improvements.md
  src/llm.py
  src/prompt_builder.py
  tests/test_llm.py
  tests/test_prompt_builder.py
Due: format, lint-fix, mdformat, typecheck

style: format future-improvements.md with mdformat
  docs/future-improvements.md
Due: mdformat

style: format test_prompt_builder.py with ruff
  tests/test_prompt_builder.py
Due: format, lint-fix, typecheck

refactor: extract prompt assembly logic from llm.py (#2) (#63)
  docs/future-improvements.md
  src/llm.py
  src/prompt_builder.py
  tests/test_llm.py
  tests/test_prompt_builder.py
Due: format, lint-fix, mdformat, typecheck

refactor: extract helper functions from check_multiple_modules_drift
  docs/future-improvements.md
  src/workflows.py
Due: format, lint-fix, mdformat, typecheck

refactor: extract helper functions from check_multiple_modules_drift (#64)
  docs/future-improvements.md
  src/workflows.py
Due: format, lint-fix, mdformat, typecheck

fix: correct mock_console fixture to patch actual console locations
  docs/future-improvements.md
  tests/conftest.py
Due: format, lint-fix, mdformat, typecheck

fix: correct mock_console fixture to patch actual console locations (#65)
  docs/future-improvements.md
  tests/conftest.py
Due: format, lint-fix, mdformat, typecheck

refactor: extract common workflow initialization logic
  docs/future-improvements.md
  src/workflows.py
Due: format, lint-fix, mdformat, typecheck

refactor: extract common workflow initialization logic (#66)
  docs/future-improvements.md
  src/workflows.py
Due: format, lint-fix, mdformat, typecheck

test: add test fixtures for common patterns (#CoADh)
  docs/future-improvements.md
  tests/conftest.py
Due: format, lint-fix, mdformat, typecheck

refactor: use new test fixtures to eliminate duplication (#CoADh)
  tests/test_file_utils.py
  tests/test_main.py
  tests/test_workflows.py
Due: format, lint-fix, typecheck

style: apply ruff formatting to test_file_utils.py
  tests/test_file_utils.py
Due: format, lint-fix, typecheck

test: add test fixtures for common patterns (#CoADh) (#67)
  docs/future-improvements.md
  tests/conftest.py
  tests/test_file_utils.py
  tests/test_main.py
  tests/test_workflows.py
Due: format, lint-fix, mdformat, typecheck

test: add comprehensive validation tests for Pydantic models
  docs/future-improvements.md
  tests/test_records.py
Due: format, lint-fix, mdformat, typecheck

fix: move type: ignore comments to argument lines for ty compatibility
  tests/test_records.py
Due: format, lint-fix, typecheck

test: add comprehensive validation tests for Pydantic models (#68)
  docs/future-improvements.md
  tests/test_records.py
Due: format, lint-fix, mdformat, typecheck

feat: add TypedDict for config type safety
  docs/future-improvements.md
  src/config/loader.py
  src/config/merger.py
Due: format, lint-fix, mdformat, typecheck

refactor: move TypedDict definitions to dedicated types module
  src/config/loader.py
  src/config/types.py
Due: format, lint-fix, typecheck

Path conditions:
  format: any of: \.py$
  lint-fix: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$
  typecheck: any of: \.py$
