Repository mortenkrane/dokken: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-fix, mdformat, typecheck

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: format
        name: make format
        entry: make format
        language: system
        types: [python]
        pass_filenames: false

      - id: lint-fix
        name: make lint-fix
        entry: make lint-fix
        language: system
        types: [python]
        pass_filenames: false

      - id: mdformat
        name: make mdformat
        entry: make mdformat
        language: system
        types: [markdown]
        pass_filenames: false

      - id: typecheck
        name: make typecheck
        entry: make typecheck
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

      - id: test
        name: make test
        entry: make test
        language: system
        pass_filenames: false
        stages: [pre-push]
        always_run: true

feat: improve drift detection for mixed philosophy/technical docs (#92)
  src/prompts.py
Due: format, lint-fix, typecheck

docs: streamline CLAUDE.md and make pre-commit requirements explicit
  CLAUDE.md
Due: mdformat

refactor: move LLM-related files into llm submodule
  src/doc_configs.py
  src/llm/__init__.py
  src/llm/llm.py
  src/llm/prompt_builder.py
  src/llm/prompts.py
  tests/test_cache.py
  tests/test_doc_configs.py
  tests/test_integration.py
  tests/test_llm.py
  tests/test_prompt_builder.py
  tests/test_prompts.py
Due: format, lint-fix, typecheck

docs: remove outdated shallow code analysis note
  CLAUDE.md
Due: mdformat

docs: streamline CLAUDE.md and make pre-commit requirements explicit (#93)
  CLAUDE.md
Due: mdformat

style: fix ruff linting issues in llm submodule
  src/doc_configs.py
  src/llm/__init__.py
Due: format, lint-fix, typecheck

refactor: move LLM-related files into llm submodule (#94)
  src/doc_configs.py
  src/llm/__init__.py
  src/llm/llm.py
  src/llm/prompt_builder.py
  src/llm/prompts.py
  tests/test_cache.py
  tests/test_doc_configs.py
  tests/test_integration.py
  tests/test_llm.py
  tests/test_prompt_builder.py
  tests/test_prompts.py
Due: format, lint-fix, typecheck

docs: generate module README for src directory
  src/README.md
  src/llm/llm.py
Due: format, lint-fix, mdformat, typecheck

feat: improve prompt engineering for better documentation detail and drift detection
  src/README.md
  src/formatters.py
  src/llm/prompts.py
  src/records.py
Due: format, lint-fix, mdformat, typecheck

chore: fix line length violations and update test
  src/llm/prompts.py
  tests/test_llm.py
Due: format, lint-fix, typecheck

chore: remove trailing newline from README (mdformat)
  src/README.md
Due: mdformat

docs: generate module README for src directory (#95)
  src/README.md
  src/formatters.py
  src/llm/llm.py
  src/llm/prompts.py
  src/records.py
  tests/test_llm.py
Due: format, lint-fix, mdformat, typecheck

feat: add prompt injection mitigation with XML delimiters and validation
  docs/prompt-injection-mitigation.md
  src/config/loader.py
  src/llm/prompt_builder.py
  src/llm/prompts.py
  src/security/__init__.py
  src/security/input_validation.py
Due: format, lint-fix, mdformat, typecheck

fix: improve input validation type safety and add comprehensive tests
  src/security/input_validation.py
  tests/test_security.py
Due: format, lint-fix, typecheck

test: refactor security tests to function-based and add integration tests
  tests/test_config.py
  tests/test_security.py
Due: format, lint-fix, typecheck

refactor: use parametrization to consolidate similar security tests
  tests/test_security.py
Due: format, lint-fix, typecheck

test: remove redundant ValidationResult severity type test
  tests/test_security.py
Due: format, lint-fix, typecheck

style: apply ruff format and mdformat to codebase
  docs/prompt-injection-mitigation.md
  src/llm/prompt_builder.py
  src/security/__init__.py
  tests/test_security.py
Due: format, lint-fix, mdformat, typecheck

fix: suppress F821 warnings for f-string template variables in prompts
  src/llm/prompts.py
Due: format, lint-fix, typecheck

fix: improve prompt injection detection regex pattern
  pyproject.toml
  src/llm/prompts.py
  src/security/input_validation.py
  tests/test_prompt_builder.py
  tests/test_security.py
  uv.lock
Due: format, lint-fix, typecheck

docs: remove prompt-injection-mitigation.md
  docs/prompt-injection-mitigation.md
Due: mdformat

feat: add prompt injection mitigation with XML delimiters and validation (#98)
  pyproject.toml
  src/config/loader.py
  src/llm/prompt_builder.py
  src/llm/prompts.py
  src/security/__init__.py
  src/security/input_validation.py
  tests/test_config.py
  tests/test_prompt_builder.py
  tests/test_security.py
  uv.lock
Due: format, lint-fix, typecheck

docs: comprehensive repository review and future improvements update
  docs/future-improvements.md
Due: mdformat

docs: comprehensive repository review and future improvements update (#99)
  docs/future-improvements.md
Due: mdformat

fix: improve drift detection for incomplete module structure
  src/llm/prompts.py
Due: format, lint-fix, typecheck

fix: improve drift detection for incomplete module structure (#100)
  src/llm/prompts.py
Due: format, lint-fix, typecheck

docs: update src module documentation with missing components
  src/README.md
Due: mdformat

docs: update src module documentation with missing components (#101)
  src/README.md
Due: mdformat

refactor: remove symbol exclusion filtering support
  README.md
  docs/future-improvements.md
  src/code_analyzer.py
  src/config/loader.py
  src/config/models.py
  src/config/types.py
  tests/test_code_analyzer.py
  tests/test_config.py
Due: format, lint-fix, mdformat, typecheck

refactor: remove symbol exclusion filtering support (#102)
  README.md
  docs/future-improvements.md
  src/code_analyzer.py
  src/config/loader.py
  src/config/models.py
  src/config/types.py
  tests/test_code_analyzer.py
  tests/test_config.py
Due: format, lint-fix, mdformat, typecheck

refactor: organize documentation modules into doctypes and output packages
  docs/future-improvements.md
  src/doctypes/__init__.py
  src/doctypes/configs.py
  src/doctypes/types.py
  src/file_utils.py
  src/llm/llm.py
  src/llm/prompt_builder.py
  src/main.py
  src/output/__init__.py
  src/output/formatters.py
  src/output/merger.py
  src/records.py
  src/workflows.py
  tests/test_doc_configs.py
  tests/test_doc_merger.py
  tests/test_doc_types.py
  tests/test_file_utils.py
  tests/test_formatters.py
  tests/test_llm.py
  tests/test_main.py
  tests/test_prompt_builder.py
  tests/test_workflows.py
Due: format, lint-fix, mdformat, typecheck

docs: update documentation to reflect new module structure
  CLAUDE.md
  docs/style-guide.md
Due: mdformat

refactor: organize documentation modules into doctypes and output packages (#103)
  CLAUDE.md
  docs/future-improvements.md
  docs/style-guide.md
  src/doctypes/__init__.py
  src/doctypes/configs.py
  src/doctypes/types.py
  src/file_utils.py
  src/llm/llm.py
  src/llm/prompt_builder.py
  src/main.py
  src/output/__init__.py
  src/output/formatters.py
  src/output/merger.py
  src/records.py
  src/workflows.py
  tests/test_doc_configs.py
  tests/test_doc_merger.py
  tests/test_doc_types.py
  tests/test_file_utils.py
  tests/test_formatters.py
  tests/test_llm.py
  tests/test_main.py
  tests/test_prompt_builder.py
  tests/test_workflows.py
Due: format, lint-fix, mdformat, typecheck

refactor: organize input handling modules into input package
  .claude/code-review-agent.md
  docs/future-improvements.md
  docs/style-guide.md
  src/README.md
  src/input/__init__.py
  src/input/code_analyzer.py
  src/input/human_in_the_loop.py
  src/workflows.py
  tests/test_code_analyzer.py
  tests/test_human_in_the_loop.py
Due: format, lint-fix, mdformat, typecheck

refactor: organize input handling modules into input package (#104)
  .claude/code-review-agent.md
  docs/future-improvements.md
  docs/style-guide.md
  src/README.md
  src/input/__init__.py
  src/input/code_analyzer.py
  src/input/human_in_the_loop.py
  src/workflows.py
  tests/test_code_analyzer.py
  tests/test_human_in_the_loop.py
Due: format, lint-fix, mdformat, typecheck

refactor: standardize warning output to use Rich Console
  src/config/loader.py
Due: format, lint-fix, typecheck

docs: document error handling patterns in style guide
  docs/style-guide.md
Due: mdformat

refactor: remove duplication of intent questions
  src/input/human_in_the_loop.py
Due: format, lint-fix, typecheck

test: add error handling tests for multi-module operations
  tests/test_error_handling.py
Due: format, lint-fix, typecheck

refactor: improve test fixture type hints with protocols
  tests/conftest.py
  tests/test_cache.py
  tests/test_error_handling.py
  tests/test_llm.py
Due: format, lint-fix, typecheck
