Repository mortenkrane/dokken: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-fix, mdformat, typecheck

format:
  name: make format
  entry: make format
  language: system
  pass_filenames: false

lint-fix:
  name: make lint-fix
  entry: make lint-fix
  language: system
  pass_filenames: false

mdformat:
  name: make mdformat
  entry: make mdformat
  language: system
  pass_filenames: false

typecheck:
  name: make typecheck
  entry: make typecheck
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs: add code review agent specification (#81)
  .claude/README.md
  .claude/agents/code-review.json
  .claude/code-review-agent.md
  .claude/commands/review.md
  tests/test_claude_config.py
Due: format, lint-fix, mdformat, typecheck

feat: add Python 3.10-3.13 support with parallel CI testing
  .github/workflows/ci.yml
  pyproject.toml
  src/doc_configs.py
  src/human_in_the_loop.py
  uv.lock
Due: format, lint-fix, typecheck

fix: add tomli dependency for Python 3.10 compatibility
  pyproject.toml
  src/config/loader.py
  uv.lock
Due: format, lint-fix, typecheck

feat: add Python 3.10-3.13 support with parallel CI testing (#83)
  .github/workflows/ci.yml
  pyproject.toml
  src/config/loader.py
  src/doc_configs.py
  src/human_in_the_loop.py
  uv.lock
Due: format, lint-fix, typecheck

Update Python version requirement to >=3.10
  pyproject.toml
Due: none

feat: add configurable file types for multi-language support
  README.md
  src/code_analyzer.py
  src/config/loader.py
  src/config/merger.py
  src/config/models.py
  src/config/types.py
  tests/test_code_analyzer.py
  tests/test_config.py
Due: format, lint-fix, mdformat, typecheck

docs: document configurable file types in CLAUDE.md
  CLAUDE.md
Due: mdformat

Lint
  src/code_analyzer.py
  src/config/merger.py
  tests/test_code_analyzer.py
Due: format, lint-fix, typecheck

Format
  README.md
Due: mdformat

feat: add configurable file types for multi-language support (#85)
  CLAUDE.md
  README.md
  src/code_analyzer.py
  src/config/loader.py
  src/config/merger.py
  src/config/models.py
  src/config/types.py
  tests/test_code_analyzer.py
  tests/test_config.py
Due: format, lint-fix, mdformat, typecheck

Make file depth configurable in the config file
  src/config/loader.py
  src/config/models.py
  src/config/types.py
  src/workflows.py
  tests/test_config.py
Due: format, lint-fix, typecheck

Add missing tests
  tests/test_file_utils.py
  tests/test_llm.py
  tests/test_workflows.py
Due: format, lint-fix, typecheck

Run tests on py3.14
  .github/workflows/ci.yml
  uv.lock
Due: none

Rename slash command
  .claude/code-review-agent.md
  .claude/commands/review-branch.md
Due: mdformat

Delete claude config tests
  tests/test_claude_config.py
Due: format, lint-fix, typecheck

fix: make drift checker focus on important architectural changes only
  src/prompts.py
Due: format, lint-fix, typecheck

fix: make drift checker focus on important architectural changes only (#86)
  src/prompts.py
Due: format, lint-fix, typecheck

refactor: simplify documentation prompts to focus on high-level concepts
  src/prompts.py
Due: format, lint-fix, typecheck

fix: break long lines in prompts to comply with line length limit
  src/prompts.py
Due: format, lint-fix, typecheck

refactor: simplify documentation prompts to focus on high-level concepts (#87)
  src/prompts.py
Due: format, lint-fix, typecheck

feat: add /lint-test slash command for comprehensive quality checks
  .claude/commands/lint-test.md
Due: mdformat

feat: add /lint-test slash command for comprehensive quality checks (#88)
  .claude/commands/lint-test.md
Due: mdformat

test: add comprehensive high-priority test coverage improvements
  docs/future-improvements.md
  tests/test_code_analyzer.py
  tests/test_integration.py
  tests/test_llm.py
  tests/test_workflows.py
Due: format, lint-fix, mdformat, typecheck

style: fix linting and formatting issues in new tests
  docs/future-improvements.md
  tests/test_code_analyzer.py
  tests/test_integration.py
  tests/test_llm.py
  tests/test_workflows.py
Due: format, lint-fix, mdformat, typecheck

refactor: move imports from test functions to top of file
  tests/test_code_analyzer.py
  tests/test_integration.py
  tests/test_llm.py
  tests/test_workflows.py
Due: format, lint-fix, typecheck

test: add comprehensive high-priority test coverage improvements (#89)
  docs/future-improvements.md
  tests/test_code_analyzer.py
  tests/test_integration.py
  tests/test_llm.py
  tests/test_workflows.py
Due: format, lint-fix, mdformat, typecheck

feat: enable ruff PLC0415 rule and fix inline imports
  pyproject.toml
  tests/test_cache.py
  tests/test_config.py
  tests/test_doc_merger.py
  tests/test_main.py
Due: format, lint-fix, typecheck

feat: enable ruff PLC0415 rule and fix inline imports (#90)
  pyproject.toml
  tests/test_cache.py
  tests/test_config.py
  tests/test_doc_merger.py
  tests/test_main.py
Due: format, lint-fix, typecheck

docs: add compelling intro explaining dokken's value in AI era
  README.md
Due: mdformat

docs: emphasize human questionnaire and grep-optimized output in intro
  README.md
Due: mdformat

style: format README with mdformat
  README.md
Due: mdformat

style: replace em-dashes with commas for better readability
  README.md
Due: mdformat

docs: highlight that dokken preserves manually written sections
  README.md
Due: mdformat

docs: add early development warning disclaimer
  README.md
Due: mdformat

docs: add bullet point about generating docs from scratch
  README.md
Due: mdformat

style: remove all remaining em-dashes
  README.md
Due: mdformat

style: apply mdformat to README
  README.md
Due: mdformat

docs: emphasize human questionnaire and grep-optimized output in intro (#91)
  README.md
Due: mdformat

feat: improve drift detection for mixed philosophy/technical docs
  src/prompts.py
Due: format, lint-fix, typecheck

refactor: use general examples in drift detection prompt
  src/prompts.py
Due: format, lint-fix, typecheck

Path conditions:
  format: any of: \.py$
  lint-fix: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$
  typecheck: any of: \.py$
