Repository mortenkrane/dokken: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-fix, mdformat, typecheck

format:
  name: make format
  entry: make format
  language: system
  pass_filenames: false

lint-fix:
  name: make lint-fix
  entry: make lint-fix
  language: system
  pass_filenames: false

mdformat:
  name: make mdformat
  entry: make mdformat
  language: system
  pass_filenames: false

typecheck:
  name: make typecheck
  entry: make typecheck
  language: system
  pass_filenames: false
  stages:
  - pre-commit

build: move dev dependencies to dev group
  pyproject.toml
  uv.lock
Due: none

docs: update installation and dev setup instructions
  .github/workflows/ci.yml
  CLAUDE.md
  CONTRIBUTING.md
  README.md
Due: mdformat

fix: dev dependencies (#45)
  .github/workflows/ci.yml
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  pyproject.toml
  uv.lock
Due: mdformat

feat: pipe drift detection rationale into generation process
  src/llm.py
  src/tests/test_workflows.py
  src/workflows.py
Due: format, lint-fix, typecheck

refactor: make drift context more verbose and educational
  src/llm.py
Due: format, lint-fix, typecheck

test: add comprehensive tests for drift and intent context helpers
  src/llm.py
  src/tests/test_llm.py
Due: format, lint-fix, typecheck

style: fix line length violations for ruff compliance
  src/llm.py
  src/tests/test_llm.py
  src/workflows.py
Due: format, lint-fix, typecheck

feat: pipe drift detection rationale into generation process (#46)
  src/llm.py
  src/tests/test_llm.py
  src/tests/test_workflows.py
  src/workflows.py
Due: format, lint-fix, typecheck

feat: add support for custom prompts in documentation generation
  README.md
  src/config.py
  src/llm.py
  src/tests/test_config.py
  src/tests/test_llm.py
  src/tests/test_workflows.py
  src/workflows.py
Due: format, lint-fix, mdformat, typecheck

refactor: improve custom prompts implementation
  README.md
  src/llm.py
Due: format, lint-fix, mdformat, typecheck

feat: add validation and improve custom prompts documentation
  README.md
  src/config.py
  src/tests/test_config.py
Due: format, lint-fix, mdformat, typecheck

feat: address PR review feedback on custom prompts
  src/llm.py
  src/tests/test_llm.py
  src/workflows.py
Due: format, lint-fix, typecheck

feat: custom prompts (#47)
  README.md
  src/config.py
  src/llm.py
  src/tests/test_config.py
  src/tests/test_llm.py
  src/tests/test_workflows.py
  src/workflows.py
Due: format, lint-fix, mdformat, typecheck

feat: add multi-module drift detection support (#40)
  README.md
  src/config.py
  src/main.py
  src/tests/test_config.py
  src/tests/test_workflows.py
  src/workflows.py
Due: format, lint-fix, mdformat, typecheck

refactor: improve multi-module error reporting and summary clarity
  src/tests/test_workflows.py
  src/workflows.py
Due: format, lint-fix, typecheck

fix: resolve type checking and linting errors
  src/config.py
  src/main.py
  src/tests/test_workflows.py
  src/workflows.py
Due: format, lint-fix, typecheck

style: apply ruff format and mdformat
  README.md
  src/tests/test_workflows.py
Due: format, lint-fix, mdformat, typecheck

feat: multi-module drift detection (#48)
  README.md
  src/config.py
  src/main.py
  src/tests/test_config.py
  src/tests/test_workflows.py
  src/workflows.py
Due: format, lint-fix, mdformat, typecheck

docs: restructure README for better searchability
  README.md
Due: mdformat

feat: optimize documentation templates for AI/search-friendliness
  src/formatters.py
  src/prompts.py
  src/tests/test_formatters.py
Due: format, lint-fix, typecheck

refactor: remove temporal references from test comments
  src/tests/test_formatters.py
Due: format, lint-fix, typecheck

docs: restructure style guide for better searchability
  docs/style-guide.md
Due: mdformat

docs: add multi-module and custom prompts features to CLAUDE.md
  CLAUDE.md
Due: mdformat

style: fix line length violations and format markdown
  README.md
  docs/style-guide.md
  src/prompts.py
  src/tests/test_formatters.py
Due: format, lint-fix, mdformat, typecheck

feat: searchable and scannable docs, optimized for agent usage (#49)
  CLAUDE.md
  README.md
  docs/style-guide.md
  src/formatters.py
  src/prompts.py
  src/tests/test_formatters.py
Due: format, lint-fix, mdformat, typecheck

refactor: move tests from src/tests/ to tests/
  .claude/hooks/run-tests.sh
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  CONTRIBUTING.md
  Makefile
  README.md
  docs/releasing-to-pypi.md
  docs/style-guide.md
  tests/__init__.py
  tests/conftest.py
  tests/test_code_analyzer.py
  tests/test_config.py
  tests/test_doc_configs.py
  tests/test_doc_types.py
  tests/test_exceptions.py
  tests/test_formatters.py
  tests/test_human_in_the_loop.py
  tests/test_llm.py
  tests/test_main.py
  tests/test_prompts.py
  tests/test_workflows.py
Due: format, lint-fix, mdformat, typecheck

refactor: move tests from src/tests/ to tests/ (#50)
  .claude/hooks/run-tests.sh
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  CONTRIBUTING.md
  Makefile
  README.md
  docs/releasing-to-pypi.md
  docs/style-guide.md
  tests/__init__.py
  tests/conftest.py
  tests/test_code_analyzer.py
  tests/test_config.py
  tests/test_doc_configs.py
  tests/test_doc_types.py
  tests/test_exceptions.py
  tests/test_formatters.py
  tests/test_human_in_the_loop.py
  tests/test_llm.py
  tests/test_main.py
  tests/test_prompts.py
  tests/test_workflows.py
Due: format, lint-fix, mdformat, typecheck

test: add missing tests to restore 99% coverage
  tests/test_code_analyzer.py
  tests/test_config.py
  tests/test_formatters.py
  tests/test_main.py
  tests/test_utils.py
  tests/test_workflows.py
Due: format, lint-fix, typecheck

test: add missing tests to restore 99% coverage (#52)
  tests/test_code_analyzer.py
  tests/test_config.py
  tests/test_formatters.py
  tests/test_main.py
  tests/test_utils.py
  tests/test_workflows.py
Due: format, lint-fix, typecheck

fix: resolve ruff E501 line length violations in tests
  tests/test_code_analyzer.py
  tests/test_workflows.py
Due: format, lint-fix, typecheck

fix: resolve ruff E501 line length violations in tests (#53)
  tests/test_code_analyzer.py
  tests/test_workflows.py
Due: format, lint-fix, typecheck

test: add integration tests for drift detection and doc generation
  tests/test_integration.py
Due: format, lint-fix, typecheck

refactor: extract test data to constants and fixtures
  tests/test_integration.py
Due: format, lint-fix, typecheck

style: format integration tests with ruff
  tests/test_integration.py
Due: format, lint-fix, typecheck

test: add integration tests for drift detection and doc generation (#54)
  tests/test_integration.py
Due: format, lint-fix, typecheck

Update future-improvements.md
  docs/future-improvements.md
Due: mdformat

refactor: make DocConfig generic for full type safety
  src/doc_configs.py
  src/workflows.py
Due: format, lint-fix, typecheck

perf: add caching for drift detection to reduce LLM calls
  src/llm.py
  tests/test_llm.py
Due: format, lint-fix, typecheck

Path conditions:
  format: any of: \.py$
  lint-fix: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$
  typecheck: any of: \.py$
