Repository mortenkrane/dokken: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-fix, mdformat, typecheck

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: format
        name: make format
        entry: make format
        language: system
        types: [python]
        pass_filenames: false

      - id: lint-fix
        name: make lint-fix
        entry: make lint-fix
        language: system
        types: [python]
        pass_filenames: false

      - id: mdformat
        name: make mdformat
        entry: make mdformat
        language: system
        types: [markdown]
        pass_filenames: false

      - id: typecheck
        name: make typecheck
        entry: make typecheck
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

      - id: test
        name: make test
        entry: make test
        language: system
        pass_filenames: false
        stages: [pre-push]
        always_run: true

refactor: extract GenerationConfig creation to helper function
  src/workflows.py
Due: format, lint-fix, typecheck

refactor: extract config validation to helper function
  src/config/loader.py
  tests/test_config.py
Due: format, lint-fix, typecheck

docs: document testing conventions in tests/README.md
  tests/README.md
Due: mdformat

test: add edge case tests for markdown parsing
  tests/test_doc_merger.py
Due: format, lint-fix, typecheck

test: add property-based tests with Hypothesis
  .gitignore
  pyproject.toml
  tests/test_property_based.py
  uv.lock
Due: format, lint-fix, typecheck

docs: update future-improvements.md to reflect completed items
  docs/future-improvements.md
Due: mdformat

refactor: standardize warning output to use Rich Console (#108)
  .gitignore
  docs/future-improvements.md
  docs/style-guide.md
  pyproject.toml
  src/config/loader.py
  src/input/human_in_the_loop.py
  src/workflows.py
  tests/README.md
  tests/conftest.py
  tests/test_cache.py
  tests/test_config.py
  tests/test_doc_merger.py
  tests/test_error_handling.py
  tests/test_llm.py
  tests/test_property_based.py
  uv.lock
Due: format, lint-fix, mdformat, typecheck

docs: clean up future-improvements.md to focus on actionable items
  docs/future-improvements.md
Due: mdformat

docs: clean up future-improvements.md to focus on actionable items (#109)
  docs/future-improvements.md
Due: mdformat

fix: adjust Python version requirement from >=3.14.2 to >=3.10
  pyproject.toml
Due: none

chore(deps): update uv.lock after Python version fix
  uv.lock
Due: none

docs: update file references to match current project structure
  .claude/README.md
  .claude/code-review-agent.md
  .claude/commands/review-branch.md
  CLAUDE.md
  README.md
  docs/future-improvements.md
  docs/style-guide.md
  src/README.md
Due: mdformat

docs: update file references to match current project structure (#111)
  .claude/README.md
  .claude/code-review-agent.md
  .claude/commands/review-branch.md
  CLAUDE.md
  README.md
  docs/future-improvements.md
  docs/style-guide.md
  src/README.md
Due: mdformat

chore: remove unused type ignore comments in test_records.py
  tests/test_records.py
Due: format, lint-fix, typecheck

Update pyproject.toml
  pyproject.toml
Due: none

style: fix line length violations in prompts.py
  src/llm/prompts.py
Due: format, lint-fix, typecheck

refactor: streamline LLM prompts for consistency and clarity
  src/llm/prompts.py
Due: format, lint-fix, typecheck

test: add 'code context' keyword back to prompts for test compatibility
  src/llm/prompts.py
  uv.lock
Due: format, lint-fix, typecheck

refactor: streamline LLM prompts for consistency and clarity (#110)
  src/llm/prompts.py
  uv.lock
Due: format, lint-fix, typecheck

chore: configure renovate to skip Python version updates
  pyproject.toml
  renovate.json
  uv.lock
Due: none

chore: configure renovate to skip Python version updates (#112)
  pyproject.toml
  renovate.json
Due: none

refactor: migrate Makefile to mise tasks
  .mise.toml
  Makefile
  README.md
Due: mdformat

refactor: migrate Makefile to mise tasks (#113)
  .mise.toml
  Makefile
  README.md
Due: mdformat

docs: fix interactive questionnaire keyboard shortcuts in README
  README.md
Due: mdformat

docs: fix interactive questionnaire keyboard shortcuts in README (#114)
  README.md
Due: mdformat

docs: add comprehensive examples directory with config and GitHub Actions workflow
  README.md
  examples/.dokken.toml
  examples/README.md
  examples/dokken-drift-check.yml
Due: mdformat

docs: streamline README by consolidating configuration details into examples
  README.md
Due: mdformat

docs: add comprehensive examples directory with config and GitHub Actions workflow (#115)
  README.md
  examples/.dokken.toml
  examples/README.md
  examples/dokken-drift-check.yml
Due: mdformat

fix: strip trailing whitespace from sections to prevent extra newlines
  src/output/merger.py
Due: format, lint-fix, typecheck

fix: strip trailing whitespace from sections to prevent extra newlines (#116)
  src/output/merger.py
Due: format, lint-fix, typecheck

refactor: implement first 4 future improvements from docs
  docs/future-improvements.md
  src/constants.py
  src/doctypes/__init__.py
  src/doctypes/configs.py
  src/input/human_in_the_loop.py
  src/llm/__init__.py
  src/llm/llm.py
  src/output/formatters.py
  src/records.py
  src/workflows.py
  tests/test_llm.py
Due: format, lint-fix, mdformat, typecheck

refactor: relocate WorkflowContext and add formatter constant documentation
  src/constants.py
  src/records.py
  src/workflows.py
Due: format, lint-fix, typecheck

style: apply ruff formatting to test_llm.py
  tests/test_llm.py
Due: format, lint-fix, typecheck

refactor: implement first 4 future improvements from docs (#117)
  docs/future-improvements.md
  src/constants.py
  src/doctypes/__init__.py
  src/doctypes/configs.py
  src/input/human_in_the_loop.py
  src/llm/__init__.py
  src/llm/llm.py
  src/output/formatters.py
  src/records.py
  src/workflows.py
  tests/test_llm.py
Due: format, lint-fix, mdformat, typecheck

refactor: simplify test suite by removing redundant tests (Phase 1)
  docs/test-simplification-roadmap.md
  tests/test_doc_configs.py
  tests/test_doc_types.py
  tests/test_error_handling.py
  tests/test_exceptions.py
  tests/test_llm.py
  tests/test_prompts.py
Due: format, lint-fix, mdformat, typecheck

refactor: simplify test suite by removing redundant tests (Phase 1) (#118)
  docs/test-simplification-roadmap.md
  tests/test_doc_configs.py
  tests/test_doc_types.py
  tests/test_error_handling.py
  tests/test_exceptions.py
  tests/test_llm.py
  tests/test_prompts.py
Due: format, lint-fix, mdformat, typecheck

refactor: implement Phase 2 test simplification via consolidation (#119)
  docs/test-simplification-roadmap.md
  tests/test_cache.py
  tests/test_config.py
  tests/test_error_handling.py
  tests/test_formatters.py
  tests/test_main.py
Due: format, lint-fix, mdformat, typecheck

docs: format test-simplification-roadmap.md with mdformat
  docs/test-simplification-roadmap.md
Due: mdformat

refactor: implement Phase 2 test simplification via consolidation (#119) (#119)
  docs/test-simplification-roadmap.md
  tests/test_cache.py
  tests/test_config.py
  tests/test_error_handling.py
  tests/test_formatters.py
  tests/test_main.py
Due: format, lint-fix, mdformat, typecheck

refactor: implement Phase 3 test simplification - reduce implementation coupling
  docs/test-simplification-roadmap.md
  tests/test_doc_merger.py
  tests/test_llm.py
  tests/test_records.py
  tests/test_workflows.py
Due: format, lint-fix, mdformat, typecheck
